*{
    padding-top:0;
    margin:0px;
    font-family: 'Roboto', sans-serif;
}

body{
  margin:0 35px 0 35px;
}




.education-entry, .work-entry, .project-entry {
  padding-left: 5%;
  padding-right: 5%;
}


h1 {

  font-size: 40px;
  color: #0000ff;
 
  display: inline;
}

h2 {
  font-style: bold;
  font-size: 24px;
  color: #999999;
  line-height: 29px;
  padding: 0  px;
}

h3 {
  font-style: italic;
  font-size: 20px;
  color: #000000;
  line-height: 22px;
}

h4 {
  font-style: bold;
  font-size: 14px;
  color: #4A4A4A;
  line-height: 17px;
}

h2, h3, h4, h5 {
  padding:0px;
  padding-left: 5%;
  padding-right: 5%;
}


.date-text {
  font-style: italic;
  font-size: 14px;
  color: #999999;
  line-height: 16px;
  
}

.location-text {
  font-style: italic;
  font-size: 14px;
  color: #999999;
  line-height: 16px;
  float: right;

}

p {
  font-size: 14px;
  color: #333333;
  line-height: 21px;
}

a {
  color: #1199C3;
  text-decoration: none;
  margin-top: 10px;
  display: block;
}

.welcome-message {
  font-style: italic;
  font-size: 18px;
  
  line-height: 28px;
}

#skillsH3 {
  color: #0000ff;
  display: none;
}

#skills {
  display: none;
}

#skills li {
  background: #eee;
  display: inline-block;
  color: #333;
  margin: 0 10px 10px 0;
  padding: 10px;
  border-radius: 5px;

} 

.orange {
  background-color: #F5AE23;
}

.blue-text {
  color: #0000ff;
}

.white-text {
  font-weight: bold;
  color: #708090;
}

.gray {
  background-color: #F3F3F3;
  padding-bottom: 10px;
  
}

.dark-gray {
  background-color: #4A4A4A;
}

/* TODO: Replace with image later */
#header {
  padding-top: 50px;
 
  
}

.flex-box {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  
  
  
  padding: 10px;
}

.center-content {
  padding-top: 5px;
}




.biopic {
  float: left;
  padding: 10px;
  width: 200px;
  display: none;
  border-radius:50%;
}

img {
  padding: 10px;
}


/* Bar chart stuff */
.chart div {
  font: 10px sans-serif;
  background-color: #4A4A4A;
  text-align: right;
  padding: 3px;
  margin: 1px;
  height: 12px;
  color: white;
  display: inline-block;
}

span {
  padding: 5px;
}

#letsConnect {
  text-align: center;
}

@media only screen and (max-width: 1024px) {
  #letsConnect {
    margin-top: 5%;
  }
}

@media only screen and (max-width:900px) {
  .biopic {
    width: 175px;
  }
}

@media only screen and (max-width: 750px) {
  #letsConnect {
    margin-top: 10%;
  }
  .biopic {
    width: 150px;
  }
  .welcome-message {
    display: none;
  }
}

#map {
  display: block;
  height: 100%;
  margin-left: 5%;
  margin-right: 5%;
  
}

#mapDiv {
  height: 400px;
  width: 100%;
  padding-bottom: 5%;
}

@media only screen and (min-width: 750px) {
  #skillsH3,
  #skills,
  .biopic {
    display: block;
  }
}

ul {

  
  list-style: none;
}







.text-cursive {
  font-family: 'Pacifico', cursive;
  padding-right: 10px;


}

.container {
  border: solid 1px black;
  margin-top: 5px;
  padding-top:40px;
}



